<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>

</head>
<body>
<div th:fragment="footer">
    <footer class="blog-footer">
        <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
            <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
                <h3>Contact Me</h3>
                <p>
                    <a href=""><span class="am-icon-qq am-icon-fw am-primary blog-icon blog-icon"
                                     data-am-popover="{content: '892790756', trigger: 'hover focus'}"></span></a>
                    <a href=""><span class="am-icon-github am-icon-fw blog-icon blog-icon"
                                     data-am-popover="{content: 'Munjie', trigger: 'hover focus'}"></span></a>
                    <a href="https://weibo.com/u/2748955952?refer_flag=1005055013_&is_all=1"><span
                            class="am-icon-weibo am-icon-fw blog-icon blog-icon"></span></a>
                    <a href=""><span class="am-icon-facebook am-icon-fw blog-icon blog-icon"
                                     data-am-popover="{content: 'Wenjie Mu', trigger: 'hover focus'}"></span></a>
                    <a href=""><span class="am-icon-weixin am-icon-fw blog-icon blog-icon"
                                     data-am-offcanvas="{target: '#doc-oc-demo2', effect: 'push'}"></span></a>
                </p>
            </div>

            <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
                <h1>做一个有趣的人,等个有趣的灵魂</h1>
                <p>
                <ul>
                    <li>轻轻的我走了，</li>
                    <li>正如我轻轻的来；</li>
                    <li>我轻轻的招手，</li>
                    <li> 作别西天的云彩。</li>
                    <li>...</li>
                </ul>
                </p>
            </div>
        </div>
        <div class="blog-text-center">© 2018 StudentMu <a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备19003704号-1
        </a></div>
    </footer>
    <!-- 侧边栏内容 -->
    <div id="doc-oc-demo2" class="am-offcanvas">
        <div class="am-offcanvas-bar">
            <div class="am-offcanvas-content">
                <p style="text-align: center; margin-top: 50px">
                    <img class="am-radius" alt="140*140"
                         src="../../static/images/wecaht.jpg"
                         width="140" height="140"/>
                </p>
                <p style="text-align: center"> 扫码关注我噢！</p>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>
