<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security4">
<head>
    <!-- <link th:href="@{/css/global.css}" rel="stylesheet" type="text/css"/>-->
    <!--<script src="../../static/js/show_article.js"></script>-->
    <link rel="stylesheet" href="../static/css/global.css" type="text/css">
</head>
<body>
<div th:fragment="header">
    <header class="am-topbar">
        <h1 class="am-topbar-brand">
            <span class="blogTitleName" sec:authorize="isAnonymous()"><img
                    src="http://cdn.biubiucat.com/u=62256820,3946498744&fm=26&gp=0.jpg" class="imgStyle">
            </span>
            <span class="blogTitleName" sec:authorize="isAuthenticated()"><img th:src="${userImg}"
                                                                               class="imgStyle">
            </span>
            <a class="am-dropdown-toggle tpl-header-list-link" href="/login.html" sec:authorize="isAnonymous()">
                登录
            </a>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle sec:authorize="isAuthenticated()">
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick"> <th:block
                            sec:authentication="name"></th:block></span><span class="tpl-header-list-user-ico"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="/userInfo"><span class="am-icon-bell-o"></span> 资料</a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href="/logout"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li class="am-active"><a href="/">首页</a></li>
                <li><a href="/archives">存档</a></li>
                <li><a href="#">图酷</a></li>
                <li class="am-dropdown" data-am-dropdown>
                    <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        菜单 <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content" sec:authorize="isAuthenticated()">
                        <li><a href="#">文章管理</a></li>
                        <li><a href="/admin/toLogin" sec:authorize="hasRole('ROLE_ADMIN')">后台管理</a></li>
                    </ul>
                </li>
            </ul>

            <div class="am-topbar-right">
                <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"
                        onclick="editArticle()"><span class="am-icon-pencil"></span> 写博客
                </button>
            </div>
            <div class="am-topbar-right" sec:authorize="isAnonymous()">
                <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm"
                        onclick="window.location.href='/register.html'"><span
                        class="am-icon-user"></span> 注册
                </button>
            </div>

        </div>

    </header>
</div>
</body>
</html>
