<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BiuBiuCat Manager</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/ico" href="../../static/assets/i/cat.ico">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/admin.css">
    <link rel="stylesheet" href="../../static/assets/css/app.css">
    <script src="../../static/assets/js/echarts.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body data-type="index">


<div th:replace="../templates/backfragments/header :: header"></div>

<div class="tpl-page-container tpl-page-header-fixed">


    <div th:replace="../templates/backfragments/leftmenu :: leftmenu"></div>


    <div class="tpl-content-wrapper">

        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
        </ol>
        <div class="row">
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="am-icon-comments-o"></i>
                    </div>
                    <div class="details">
                        <div class="number" th:text="${history}"></div>
                        <div class="desc">历史访问</div>
                    </div>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="am-icon-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number" th:text="${today}"></div>
                        <div class="desc"> 今日访问</div>
                    </div>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="am-icon-apple"></i>
                    </div>
                    <div class="details">
                        <div class="number" th:text="${pc}"></div>
                        <div class="desc"> PC访问</div>
                    </div>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat purple">
                    <div class="visual">
                        <i class="am-icon-android"></i>
                    </div>
                    <div class="details">
                        <div class="number" th:text="${mobile}"></div>
                        <div class="desc"> Mobile访问</div>
                    </div>
                </div>
            </div>


        </div>


    </div>

</div>


<script src="../../static/assets/js/jquery.min.js"></script>
<script src="../../static/assets/js/amazeui.min.js"></script>
<script src="../../static/assets/js/iscroll.js"></script>
<script src="../../static/assets/js/app.js"></script>
</body>

</html>