<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户信息</title>
    <meta name="description" content="用户信息页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="../../static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../static/assets/css/admin.css">
    <link rel="stylesheet" href="../../static/assets/css/app.css">
    <link rel="stylesheet" href="../../static/css/plugs_paging.css">
    <script src="../../static/js/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</head>

<body data-type="generalComponents">


<div th:replace="../templates/backfragments/header :: header"></div>


<div class="tpl-page-container tpl-page-header-fixed">


    <div th:replace="../templates/backfragments/leftmenu :: leftmenu"></div>


    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            用户信息
        </div>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
            </div>
            <div class="tpl-block">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-6">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-btn-success"><span
                                        class="am-icon-plus"></span> 新增
                                </button>
                                <button type="button" class="am-btn am-btn-default am-btn-secondary"><span
                                        class="am-icon-save"></span> 保存
                                </button>
                                <button type="button" class="am-btn am-btn-default am-btn-warning"><span
                                        class="am-icon-archive"></span> 审核
                                </button>
                                <button type="button" class="am-btn am-btn-default am-btn-danger"><span
                                        class="am-icon-trash-o"></span> 删除
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field">
                            <span class="am-input-group-btn">
            <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search"
                    type="button"></button>
          </span>
                        </div>
                    </div>
                </div>
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main">
                                <thead>
                                <tr>
                                    <th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>
                                    <th class="table-id">ID</th>
                                    <th class="table-title">Name</th>
                                    <th class="table-type">Email</th>
                                    <th class="table-author am-hide-sm-only">Head</th>
                                    <th class="table-set">操作</th>
                                </tr>
                                </thead>
                                <tbody id="all_article_manage">
                                </tbody>
                            </table>
                            <hr>
                        </form>
                    </div>

                </div>
            </div>
            <div class="my-row" id="page-father">
                <div id="pagination">
                    <ul class="am-pagination  am-pagination-centered">
                        <li class="am-disabled"><a href="#">&laquo; 上一页</a></li>
                        <li class="am-active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">下一页 &raquo;</a></li>
                    </ul>
                </div>
            </div>
            <div class="tpl-alert"></div>
        </div>
    </div>

</div>

<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
<script src="../../static/js/user_manage.js"></script>

</body>

</html>