<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
    <link rel="stylesheet" href="../../static/css/amazeui.min.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/plugs_paging.css">
    <link rel="stylesheet" href="../../static/css/global.css">
    <!--<link rel="stylesheet" href="../../static/assets/css/amazeui.min.css"/>-->
    <!--<link rel="stylesheet" href="../../static/assets/css/admin.css">-->
    <!--<link rel="stylesheet" href="../../static/assets/css/app.css">-->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="../../static/js/index.js"></script>
    <script src="../../static/js/resetpwd.js"></script>
    <script type="text/javascript">

        function mouseover(obj) {
            obj.style.cursor = "pointer";
        }

    </script>
</head>
<body>
<div th:replace="../templates/fragments/header :: header"></div>
<div class="login-div-one"></div>
<div class="am-g">
    <div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">请输入注册的邮箱</div>
            <div class="am-modal-bd">
                <input type="email" id="register_email" name="email" class="am-modal-prompt-input" onblur="checkEmail()"
                       placeholder="输入正确的邮箱噢"
                       required/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>下一步</span>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-prompt" tabindex="-1" id="my-emiial-code">
        <div class="am-modal-dialog">
            <div class="am-modal-bd">
                <input type="email" id="email_code" name="emailCode" class="am-modal-prompt-input"
                       onblur="checkEmailCode()"
                       placeholder="输入邮箱收到的验证码"
                       required/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>下一步</span>
            </div>
        </div>
    </div>
    <div class="am-modal am-modal-prompt" tabindex="-1" id="my-new-pwd">
        <div class="am-modal-dialog">
            <div class="am-modal-bd">
                <input type="password" id="new_password" name="newPassword" class="am-modal-prompt-input"
                       placeholder="输入新的密码"
                       required/>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                <span> Login</span> <i class="am-icon-backward"></i>

            </div>
        </div>
        <div class="am-btn-group">
            <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
            <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i>
                Google+</a>
            <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i>
                stackOverflow</a>
        </div>


        <form method="post" class="am-form" th:action="@{/admin/login}">
            <label for="username">用户名:</label>
            <div class="am-input-group">
                <span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
                <input type="text" class="am-form-field" placeholder="Username" id="username" name="username">
            </div>
            <br>
            <label for="password">密码:</label>
            <div class="am-input-group">
                <span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
                <input type="password" class="am-form-field" placeholder="Password" id="password" name="password">
            </div>
            <br>
            <label for="password">验证码:</label>
            <div class="am-input-group">
                <input type="text" class="am-form-field" name="verifyCode">
                <span class="am-input-group-label"><img alt="验证码"
                                                        style="height: 33px;width: 100px;margin-top: -9px;margin-bottom: -4px;margin-left: -13px;
                                                        margin-right: -15px"
                                                        onclick="this.src='/kaptcha?d='+new Date()*1"
                                                        onmouseover="mouseover(this)"
                                                        src="/kaptcha"/></span>
            </div>
            <br>
            <div class="alert alert-info" th:if="${loginError}">
                <p class="" style="color: red" th:text="${errorMsg}"></p>
            </div>
            <label><input type="checkbox" name="remember-me"/>记住我</label>
            <br/>
            <div class="am-cf">
                <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
                <input type="button" name="" value="忘记密码" class="am-btn am-btn-default am-btn-sm am-fr"
                       id="doc-prompt-toggle">
            </div>
        </form>
        <hr>
    </div>
</div>
<div th:replace="../templates/fragments/footer :: footer"></div>

</body>
</html>
