<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>BiuBiuCat</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../static/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../../static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../../static/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="../../static/css/amazeui.min.css">
    <link rel="stylesheet" href="../../static/css/app.css">
    <link rel="stylesheet" href="../../static/css/plugs_paging.css">
    <link rel="stylesheet" href="../../static/css/global.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../../static/js/index.js"></script>
    <script src="../../static/js/user_info.js"></script>


</head>

<body id="blog">
<div th:replace="../templates/fragments/header :: header"></div>
<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">个人资料</strong> /
                <small>Personal information</small>
            </div>
        </div>

        <hr/>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
                <div class="am-panel am-panel-default">
                    <div class="am-panel-bd">
                        <div class="am-g">
                            <div class="am-u-md-4" id="show_user_img">
                                <img class="am-img-circle am-img-thumbnail" th:src="${userImg}"
                                     alt=""/>
                            </div>
                            <div class="am-u-md-8">
                                <p>你可以使用<a href="https://en.gravatar.com/">Gravatar.com</a>提供的头像或者使用本地上传头像。 </p>
                                <form class="am-form"
                                      enctype="multipart/form-data">
                                    <div class="am-form-group">
                                        <input type="file" name="user-pic" id="user-pic">
                                        <p class="am-form-help">请选择要上传的图片...</p>
                                        <button type="button" class="am-btn am-btn-primary am-btn-xs"
                                                onclick="saveUserImg()">保存
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="am-panel am-panel-default">
                    <div class="am-panel-bd">
                        <div class="user-info">
                            <p>等级信息</p>
                            <div class="am-progress am-progress-sm">
                                <div class="am-progress-bar am-progress-bar-success" style="width: 60%"></div>
                            </div>
                            <p class="user-info-order">当前等级：<strong>LV8</strong> 活跃天数：<strong>587</strong>
                                距离下一级别：<strong>160</strong></p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">Name</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="user-name" th:value="${name}" placeholder="姓名 / Name">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-3 am-form-label">Email</label>
                        <div class="am-u-sm-9">
                            <input type="email" id="user-email" th:value="${email}" placeholder="输入你的电子邮件 / Email">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-phone" class="am-u-sm-3 am-form-label">Telephone</label>
                        <div class="am-u-sm-9">
                            <input type="tel" id="user-phone" placeholder="输入你的电话号码 / Telephone">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-QQ" class="am-u-sm-3 am-form-label">QQ</label>
                        <div class="am-u-sm-9">
                            <input type="number" pattern="[0-9]*" id="user-QQ" placeholder="输入你的QQ号码">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">Wiebo</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="user-weibo" placeholder="输入你的微博">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-wechat" class="am-u-sm-3 am-form-label">Wiebo</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="user-wechat" placeholder="输入你的微信">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3">
                            <button type="button" class="am-btn am-btn-primary">保存修改</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- content end -->
<div th:replace="../templates/fragments/footer :: footer"></div>
</body>
</html>